
#wrapper{
    background: linear-gradient(lightgrey,grey,rgb(115, 115, 115));
    width:1500px;
    height:auto;
    margin-left: 200px;
    margin-top: -30px;
}
.header{
    font-family:'Bungee Inline';
    text-align:center;
    color:rgb(71,71,71); 
    background:linear-gradient(rgb(230,0,0),rgb(204, 0, 0),rgb(179, 0, 0));
    padding-top: 15px;
    padding-bottom: 5px;
    display:inline-block;
}
h1{
    font-size:55pt;
    font-weight:bold;
    display:inline-block;
    margin-top: -15px;
    height: 75px;

}
h2{
    font-size:24pt;
    display:inline-block;
    margin-top: -5px;
}
#maincontent{
    height:650px;
}
.firstrow,.secondrow{
    margin-left:180px;
    margin-top:15px;
}
img {
    display:inline-block;
    width:250px;
    height:250px;
    padding:7px;
}
button{
    width:250px;
    height:50px;
    text-align:center;
    color:rgb(71,71,71);
    background:linear-gradient(rgb(230,0,0),rgb(204, 0, 0),rgb(179, 0, 0));
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-weight:bold;
    font-size:14pt;
    border-radius:2px;
    border: rgb(71,71,71) solid 2px;
    margin-top: 25px;
    margin-left: 600px;

}